<div class="theavadhar_mens_section">
    <section class="theavadhar_header ">
      <h3> Festival Collection</h3>
    </section>
    

    <section class="theavadhar_collections">
      <div class="container">
        <h3> Pongal Festival Collection</h3>
        <div class="row">
          <div class="col-md-3 text-center" *ngFor="let dhotie of dhoties">
            <div class="theavadhar_collection_items">
              <div class="theavadhar_image">
                <img src="assets/images/theavadhar_products/{{dhotie.image}}.jpg" alt="theavadhar dhotie">
              </div>
              <div class="content">
                <h3> {{dhotie.heading}} </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="theavadhar_poster_section pt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="poster pos_1">
                <h3> Twins Collection </h3>
              </div>
            </div>
            <div class="col-md-4">
              <div class="poster pos_1">
                <h3> Family Collection </h3>
              </div>
            </div>
            <div class="col-md-4">
              <div class="poster pos_1">
                <h3> Love Collection </h3>
              </div>
            </div>
           
          </div>
        </div>
      </section>
   
    <section class="theavadhar_collections">
        <div class="container">
          <h3> Diwali Festival Collection</h3>
          <div class="row">
            <div class="col-md-3 text-center" *ngFor="let dhotie of dhoties">
              <div class="theavadhar_collection_items">
                <div class="theavadhar_image">
                  <img src="assets/images/theavadhar_products/{{dhotie.image}}.jpg" alt="theavadhar dhotie">
                </div>
                <div class="content">
                  <h3> {{dhotie.heading}} </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="theavadhar_poster_section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="poster pos_2">
                  <h3> Party Ethic Collection </h3>
                </div>
              </div>
             
            </div>
          </div>
        </section>
    <section class="theavadhar_collections">
        <div class="container">
          <h3> Onam Collection</h3>
          <div class="row">
            <div class="col-md-3 text-center" *ngFor="let dhotie of dhoties">
              <div class="theavadhar_collection_items">
                <div class="theavadhar_image">
                  <img src="assets/images/theavadhar_products/{{dhotie.image}}.jpg" alt="theavadhar dhotie">
                </div>
                <div class="content">
                  <h3> {{dhotie.heading}} </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
  
  
  
  <div class="theavadhar_add_section">
    <h3> Quality Collection </h3>
  </div>