<footer>
  <div class="theavadhar_footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-2 col-6">
          <div class="theavadhar_footer_link">
            <h3> Dhoties </h3>
            <ul>
              <li> <a routerLink="/" > Gold Jari </a></li>
              <li> <a routerLink="/" > Traditional Wear </a></li>
              <li> <a routerLink="/" > Party Wear </a></li>
              <li> <a routerLink="/" > Political Wear </a></li>
              <li> <a routerLink="/" > Trend Wear </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="theavadhar_footer_link">
            <h3> SHIRTS </h3>
            <ul>
              <li> <a routerLink="/" > Pure Silks </a></li>
              <li> <a routerLink="/" > Cream Shirt </a></li>
              <li> <a routerLink="/" > Soft Cotton </a></li>
              <li> <a routerLink="/" > Wrinkle Free </a></li>
              <li> <a routerLink="/" > Startch Cotton </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="theavadhar_footer_link">
            <h3> WOMENS </h3>
            <ul>
              <li> <a routerLink="/" > Top Slips </a></li>
              <li> <a routerLink="/" > Leggings </a></li>
              <li> <a routerLink="/" > Panties </a></li>
              <li> <a routerLink="/" >  </a></li>
              <li> <a routerLink="/" >  </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-6">
          <div class="theavadhar_footer_link">
            <h3> KIDS </h3>
            <ul>
              <li> <a routerLink="/" > Veera Soora </a></li>
              <li> <a routerLink="/" > Banian </a></li>
              <li> <a routerLink="/" > Top Slips </a></li>
              <li> <a routerLink="/" > Jetty </a></li>
              <li> <a routerLink="/" > Drawer </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-6">
            <div class="theavadhar_footer_link">
              <h3> Festival </h3>
              <ul>
                <li> <a routerLink="/" > Gold Jari </a></li>
                <li> <a routerLink="/" > Traditional Wear </a></li>
                <li> <a routerLink="/" > Party Wear </a></li>
                <li> <a routerLink="/" > Political Wear </a></li>
                <li> <a routerLink="/" > Trend Wear </a></li>
              </ul>
            </div>
          </div>
        <div class="col-md-2 col-6">
            <div class="theavadhar_footer_link">
              <h3> Follow US </h3>
              <ul>
                <li> <a routerLink="/" > Facebook </a></li>
                <li> <a routerLink="/" > Twitter </a></li>
                <li> <a routerLink="/" > Linkedin </a></li>
                <li> <a routerLink="/" > Instagram </a></li>
              </ul>
            </div>
          </div>
      </div>
      
    </div>
  </div>
  <div class="theavadhar_copyrights">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
              <p> Copyrights &copy; 2019. All Rights Reserved </p>
            </div>
            <div class="col-md-6 text-center text-md-right">
              <a routerLink=""> www.theavadhar.com </a>
            </div>
          </div>
    </div>
    </div>
</footer>