<div class="main-content"> 
  <div class="home-slider">
    <slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides">
    </slideshow>
  </div>

  <div class="theavadhar_home">
    <div class="container">
        <div class="heading">
            <h3 class="header"> Welcome to THE AVADHAR </h3>
            <p> The Avadhar cotton mills is the clothes manufacturing company, where we in the production of Dhotis, Shirts, Lungis, Towels. In future we are planned to launch the pants, vests, brief, hand kerchief, customized western and modern Clothing.</p>
            <h6> Hsitory in words </h6>
            <p> The Avadhar was founded in 1950 to produce the quality clothes with the best margin, so that everyone can reach. We proudly believe in the Traditional Dressing. </p>
        </div>
      </div>
      <div class="container-fluid">
        <div class="theavadhar_classification pb-0">
          <div class="row">
            <div class="col-md-5  pr-md-0">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-1 clasi">
                      <div class="classifiation-cotent-1">
                          <h3> Kids Collection </h3>
                          <a routerLink=""> view more </a>
                      </div>
                   </div>
                </div>
                <div class="col-md-6 pr-md-0">
                  <div class="section-2 clasi">
                    <div class="classifiation-cotent-2">
                        <h3> Lungi Collection </h3>
                        <a routerLink=""> view more </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-md-0">
                  <div class="section-3 clasi">
                      <div class="classifiation-cotent-3">
                          <h3> Towel Collection </h3>
                          <a routerLink=""> view more </a>
                      </div>
                  </div>
                </div>
              </div>
                
            </div>

            <div class="col-md-7  pl-md-0">
              <div class="row">
                <div class="col-md-6 pr-md-0">
                  <div class="section-4 clasi">
                      <div class="classifiation-cotent-4">
                          <h3> Dhotis Collection </h3>
                          <a routerLink=""> view more </a>
                      </div>
                  </div>
                </div>
                <div class="col-md-6 pl-md-0">
                  <div class="section-5 clasi">
                      <div class="classifiation-cotent-5">
                          <h3> Mens Collection </h3>
                          <a routerLink=""> view more </a>
                      </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="section-6 clasi">
                      <div class="classifiation-cotent-6">
                          <h3> Wedding Collection </h3>
                          <a routerLink=""> view more </a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- gallery section -->
  <div class="theavadhar_home_gallery">
    <div class="container-fluid">
      <h3 class="header"> Just a look!</h3>
      <div class="sliders">
          <owl-carousel [options]="{items: 1, dots: false, navigation: true, autoplay: false, loop: true,autoplayHoverPause:false,
            responsive: {
              '0': { items: 1},
              '480': { items: 1},
              '640': { items: 3},
              '767': { items: 4},
              '992': { items: 5}
              }  
            }" [carouselClasses]="['owl-theme', 'sliding']">
              <div class="gallery_item" *ngFor="let slide of sliders">
                  <div class="gallery_box ">
                    <a routerLink="/">
                   
                    <img src="assets/images/theavadhar_products/{{slide.bg_image}}.jpg">
                      <div class="content">
                          <h3>{{slide.head}}</h3>
                          <!-- <p class="mt-0">{{slide.para}}</p> -->
                      </div>
                    </a>
                  </div>
              </div>

          </owl-carousel>
      </div>
    </div>
  </div>
  <!-- gallery section -->

  <div class="theavadhar_add_section">
    <h3> ASSURED QUALITY </h3>
  </div>
</div>