<div class="theavadhar_about_section">
    <section class="theavadhar_header ">
        <h3> About Us </h3>
    </section>
    <section class="theavadhar_about_header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h3 class="header"> Welcome to the Brand THEAVADHAR </h3>
                    <p> When you give to Our Industry, know your donation is making a difference whether you are supporting our signature Programs professional. </p>
                    <p> We partner with over 320 shops in Tamilnadu.There anyone who loves or desires to obtain pain of it is because seds all occasionally circumstances. </p>
                </div>
            </div>
        </div>
    </section>
    <section class="theavadhar_poster_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="poster pos_2">
                        <h3> We provide innovative Product Solutions for sustainable progress. Our professional team works to increase productivity and cost effectiveness on the market. </h3>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="theavadhar_about_header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h3 class="header"> Why You Choose Us? </h3>
                    <p> We have facility to produce advance work various industrial applications based on specially developed technol-ogy. We are also ready to developement by according to users changing needs. Infrastructure related installation projects. </p>
                    <p> General repair & industrial and machinery. Our team up-to-date, sustainable custom manufacturing solutions. </p>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="theavadhar_add_section">
    <h3> Trustful Relation </h3>
</div>