.theavadhar_header{
    background-image: url("../../assets/images/theavadhar_mens/theavadhar_mens_header.jpg");   
}

.theavadhar_about_header{
    padding: 50px 0;
}

.theavadhar_poster_section .poster.pos_1{
    background-image: url("../../assets/images/theavadhar_mens/theavadhar_mens_header.jpg");
}
.theavadhar_poster_section .poster.pos_2{
    background-image: url("../../assets/images/theavadhar_mens/theavadhar_mens_header.jpg");
}

.theavadhar_poster_section .poster.pos_1:before{
    background-color: rgba(43, 30, 118, 0.81);
}
.theavadhar_poster_section .poster.pos_2:before{
    background-color: rgba(209, 5, 12, 0.72);
}
