.theavadhar_header{
    background-image: url("../../assets/images/theavadhar_mens/theavadhar_mens_header.jpg");   
}

.theavadhar_about_header{
    padding: 50px 0;
}

.theavadhar_contact_details{
    padding: 0 0 50px 0;
}
.theavadhar_contact_details .information{
    padding: 30px;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.2);
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
}
.theavadhar_contact_details .information:hover{
    box-shadow: 0 14px 45px 0 rgba(0,0,0,.2);
}


.theavadhar_contact_details .information img{
    width: 50px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}
.theavadhar_contact_details .information a{
    color: #2A2075;
    font-weight: 600;
}
.theavadhar_contact_details .information a:hover{
    text-decoration: none;
}
.theavadhar_contact_details .information p{
    color: #70757e;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
}