<div class="theavadhar_mens_section">
    <section class="theavadhar_header ">
      <h3> Womens Collection</h3>
    </section>
    <section class="theavadhar_collections">
      <div class="container">
        <h3> Womens Sarees Collection</h3>
        <div class="row">
          <div class="col-md-3 text-center" *ngFor="let dhotie of dhoties">
            <div class="theavadhar_collection_items">
              <div class="theavadhar_image">
                <img src="assets/images/theavadhar_products/{{dhotie.image}}.jpg" alt="theavadhar dhotie">
              </div>
              <div class="content">
                <h3> {{dhotie.heading}} </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="theavadhar_poster_section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="poster pos_1">
              <h3> Traditional Collection </h3>
            </div>
          </div>
         
        </div>
      </div>
    </section>
    <section class="theavadhar_collections">
        <div class="container">
          <h3> Women Legins Collection</h3>
          <div class="row">
            <div class="col-md-3 text-center" *ngFor="let dhotie of dhoties">
              <div class="theavadhar_collection_items">
                <div class="theavadhar_image">
                  <img src="assets/images/theavadhar_products/{{dhotie.image}}.jpg" alt="theavadhar dhotie">
                </div>
                <div class="content">
                  <h3> {{dhotie.heading}} </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="theavadhar_poster_section">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="poster pos_1">
                  <h3> Modern Fasion Collection </h3>
                </div>
              </div>
             
            </div>
          </div>
        </section>
    <section class="theavadhar_collections">
        <div class="container">
          <h3> Women Ethic Collection</h3>
          <div class="row">
            <div class="col-md-3 text-center" *ngFor="let dhotie of dhoties">
              <div class="theavadhar_collection_items">
                <div class="theavadhar_image">
                  <img src="assets/images/theavadhar_products/{{dhotie.image}}.jpg" alt="theavadhar dhotie">
                </div>
                <div class="content">
                  <h3> {{dhotie.heading}} </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
  
  
  
  <div class="theavadhar_add_section">
    <h3> Modern Collection </h3>
  </div>